<html>
    <head>
        <title>Change Manager Password</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="static/beetle.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='icomoon/font/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui.css') }}">
    <link rel="stylesheet"href="{{ url_for('static', filename='owl.carousel.min.css') }}">
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='owl.theme.default.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-datepicker.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='flaticon.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='aos.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='formbug.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='loginn.css') }}">
    </head>
    <body>

        <div id="form">
            <h1 class="d-block mb-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100" style="text-align:center">Change Password</h1>


            <form name="form" action="{{ url_for('adminchangepassword') }}" onsubmit="return isvalid()" method="POST">


  <label for="current_password">Current Password:</label>
  <input type="password" id="current_password" name="current_password" required><br>

  <label for="new_password">New Password:</label>
  <input type="password" id="new_password" name="new_password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Password must contain at least one number, one lowercase and one uppercase letter, and be at least 8 characters long." required><br>

  <label for="confirm_password">Confirm New Password:</label>
  <input type="password" id="confirm_password" name="confirm_password" required><br>
<br>
  <input type="submit" value="Update Password">
</form>
            </form>
        </div>
        <script>
            function isvalid(){
                var user = document.form.user.value;
                var pass = document.form.pass.value;
                if(user.length=="" && pass.length==""){
                    alert(" Username and password field is empty!!!");
                    return false;
                }
                else if(user.length==""){
                    alert(" Username field is empty!!!");
                    return false;
                }
                else if(pass.length==""){
                    alert(" Password field is empty!!!");
                    return false;
                }

            }
        </script>
    </body>
</html>