<!DOCTYPE html>
<html lang="en">

<head>
    <title>BUIBUI-ADMIN:</title>
    <link rel="icon" type="image/png" href="static/admin.png"
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fontt.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui.css') }}">
    <link rel="stylesheet"href="{{ url_for('static', filename='owl.carousel.min.css') }}">
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='owl.theme.default.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-datepicker.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='flaticon.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='aos.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <div class="site-wrap">
        <div class="site-mobile-menu">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>
        <header class="site-navbar py-3" role="banner">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-11 col-xl-2">
                        <h1 class="mb-0"><a href="{{ url_for('admindashboard') }}" class="text-white h2 mb-0">Bui<span class="text-primary">Bui</span> </a></h1>
                    </div>
                    <div class="col-12 col-md-10 d-none d-xl-block">
                        <nav class="site-navigation position-relative text-right" role="navigation">
                            <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
                                <li class="active"><a href="{{ url_for('admindashboard') }}">Admin Dashboard</a></li>
                                <li><a href="{{ url_for('adminprofile') }}">Your Profile</a></li>
                                <li><a href="{{ url_for('addusers') }}">Add Users</a></li>
                                 <li><a href="{{ url_for('adminlogout') }}">LOGOUT</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>
                </div>
            </div>
    </div>
    </header>


            <div class="site-section">
            <div class="container">
                <div style="display: flex;">

                  <div style="flex:1; border:2px solid #fff;margin-right: 20px;padding: 30px;text-align: center!important;height:1000px;">
                        <a href="#">SYSTEM ADMINISTRATOR<br> Hello! {{afname}}</a>

                      <div class="row">
                          <div class="col-md-6 col-lg-4 mb-5 mb-lg-0 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                              <br><br><br>
                              <div class="pricing border-primary text-center">
                                     <h2>NEW PROJECT</h2>
                                  <a href="#">[Add new project for bug tracking]</a>
                                  <div class="row align-items-center">
                                     <br><br><br><br>
                                  </div>
                                <div><a href="{{ url_for('createproject') }}"  class="btn btn-secondary px-4 py-2">CREATE</a>
                                </div>
                              </div>
                          </div>
                           <div class="col-md-6 col-lg-4 mb-5 mb-lg-0 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                              <br><br><br>
                              <div class="pricing border-primary text-center">
                                     <h2>SYSTEM PROJECTS</h2>
                                  <a href="#">[Current Projects </br>:running/halted:</br> Under BuiBui]</a>
                                  <div class="row align-items-center">
                                     <br><br><br>
                                  </div>
                                <div><a href="{{ url_for('currentprojects') }}"  class="btn btn-secondary px-4 py-2">VIEW/EDIT</a>
                                </div>
                              </div>
                          </div>

                          <div class="col-md-6 col-lg-4 mb-5 mb-lg-0 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                              <br><br><br>
                              <div class="pricing border-primary text-center">
                                     <h2>SYSTEM BUGS</h2>
                                  <a href="#">[Current Bugs </br>:open/in-progress/closed:</br> Under BuiBui]</a>
                                  <div class="row align-items-center">
                                     <br><br><br>
                                  </div>
                                <div><a href="{{ url_for('currentbugs') }}"  class="btn btn-secondary px-4 py-2">VIEW/EDIT</a>
                                </div>
                              </div>
                          </div>

                      </div>

                              <br><br>
                              <div class="pricing border-primary text-center">
                                     <h2>MANAGE SYSTEM USERS</h2>
                                  <a href="#">[View, Update, and Remove User Details]</a>
                                  <div class="row align-items-center">
                                     <br><br><br>
                                  </div>
                              <div><a href="{{ url_for('manage_testers') }}" style="color:red"  >Manage Testers</a></div>
                                  <div><a href="{{ url_for('manage_developers') }}"  style="color:red">Manage Developers</a></div>
                                  <div><a href="{{ url_for('manage_managers') }}" style="color:red" >Manage Project Managers</a></div>

                           </div>
                          </div>
                  </div>



                </div>
            </div>
     </div>
      </div>
            </div>
        </div>
    </div>


        <script src="{{ url_for('static', filename='main.js') }}"></script>
     <script src="{{ url_for('static', filename='jquery.magnific-popup.min.js') }}"></script>
     <script src="{{ url_for('static', filename='jquery.countdown.min.js') }}"></script>
     <script src="{{ url_for('static', filename='jquery.stellar.min.js') }}"></script>
     <script src="{{ url_for('static', filename='owl.carousel.min.js') }}"></script>
     <script src="{{ url_for('static', filename='popper.min.js') }}"></script>
     <script src="{{ url_for('static', filename='jquery-ui.js') }}"></script>
     <script src="{{ url_for('static', filename='jquery-migrate-3.0.1.min.js') }}"></script>
     <script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='aos.js') }}"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>
    <script defer src="https://static.cloudflareinsights.com/beacon.min.js/vaafb692b2aea4879b33c060e79fe94621666317369993" integrity="sha512-0ahDYl866UMhKuYcW078ScMalXqtFJggm7TmlUtp0UlD4eQk0Ixfnm5ykXKvGJNFjLMoortdseTfsRT8oCfgGA==" data-cf-beacon='{"rayId":"79b5006c5d1e9cac","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2023.2.0","si":100}'
        crossorigin="anonymous"></script>
</body>

</html>