<!DOCTYPE html>
<html lang="en">

<head>
    <title>BUIBUI-1.2.0</title>
    <link rel="icon" type="image/png" href="static/add.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fontt.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui.css') }}">
    <link rel="stylesheet"href="{{ url_for('static', filename='owl.carousel.min.css') }}">
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='owl.theme.default.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-datepicker.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='flaticon.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='aos.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 aos-init aos-animate " data-aos="fade-up">
                    <form action="/add_developer" method="POST">
                        <div class="row form-group">
                            <div class="col-md-6 mb-3 mb-md-0 aos-init aos-animate">
                                <label class="" for="fname">First Name:</label>
                                <input type="text" id="fname" class="form-control" name="fname" required>
                            </div>
                            <div class="col-md-6 aos-init aos-animate">
                                <label class="" for="lname">Last Name:</label>
                                <input type="text" id="lname" class="form-control" name="lname" required>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12 aos-init aos-animate">
                                <label class="" for="email">Email:</label>
                                <input type="email" id="email" class="form-control" name="email" required>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12 aos-init aos-animate">
                                <label class="" for="phone">Phone Number:</label>
                                <input type="tel" id="phone" class="form-control" name="phone" required>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12 aos-init aos-animate">
                                <label class="" for="address">Address:</label>
                                <textarea name="address" id="address" cols="50" rows="4" class="form-control" required></textarea>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12 aos-init aos-animate">
                                <input type="submit" value="Submit Data" class="btn btn-primary py-2 px-4 text-white">
                            </div>
                        </div>
                    </form>
                </div>