<!DOCTYPE html>
<html lang="en">

<head>
    <title>DEVELOPERS</title>
    <link rel="icon" type="image/png" href="static/beetle.png"
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fontt.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui.css') }}">
    <link rel="stylesheet"href="{{ url_for('static', filename='owl.carousel.min.css') }}">
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='owl.theme.default.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-datepicker.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='flaticon.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='aos.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <script nonce="4fbbaaf6-cf26-44de-8ab3-538b0981d65c">
        (function(w, d) {
            ! function(f, g, h, i) {
                f[h] = f[h] || {};
                f[h].executed = [];
                f.zaraz = {
                    deferred: [],
                    listeners: []
                };
                f.zaraz.q = [];
                f.zaraz._f = function(j) {
                    return function() {
                        var k = Array.prototype.slice.call(arguments);
                        f.zaraz.q.push({
                            m: j,
                            a: k
                        })
                    }
                };
                for (const l of["track", "set", "debug"]) f.zaraz[l] = f.zaraz._f(l);
                f.zaraz.init = () => {
                    var m = g.getElementsByTagName(i)[0],
                        n = g.createElement(i),
                        o = g.getElementsByTagName("title")[0];
                    o && (f[h].t = g.getElementsByTagName("title")[0].text);
                    f[h].x = Math.random();
                    f[h].w = f.screen.width;
                    f[h].h = f.screen.height;
                    f[h].j = f.innerHeight;
                    f[h].e = f.innerWidth;
                    f[h].l = f.location.href;
                    f[h].r = g.referrer;
                    f[h].k = f.screen.colorDepth;
                    f[h].n = g.characterSet;
                    f[h].o = (new Date).getTimezoneOffset();
                    if (f.dataLayer)
                        for (const s of Object.entries(Object.entries(dataLayer).reduce(((t, u) => ({...t[1],
                                ...u[1]
                            }))))) zaraz.set(s[0], s[1], {
                            scope: "page"
                        });
                    f[h].q = [];
                    for (; f.zaraz.q.length;) {
                        const v = f.zaraz.q.shift();
                        f[h].q.push(v)
                    }
                    n.defer = !0;
                    for (const w of[localStorage, sessionStorage]) Object.keys(w || {}).filter((y => y.startsWith("_zaraz_"))).forEach((x => {
                        try {
                            f[h]["z_" + x.slice(7)] = JSON.parse(w.getItem(x))
                        } catch {
                            f[h]["z_" + x.slice(7)] = w.getItem(x)
                        }
                    }));
                    n.referrerPolicy = "origin";
                    n.src = "/cdn-cgi/zaraz/s.js?z=" + btoa(encodeURIComponent(JSON.stringify(f[h])));
                    m.parentNode.insertBefore(n, m)
                };
                ["complete", "interactive"].includes(g.readyState) ? zaraz.init() : f.addEventListener("DOMContentLoaded", zaraz.init)
            }(w, d, "zarazData", "script");
        })(window, document);
    </script>
</head>

<body>
    <div class="site-wrap">
        <div class="site-mobile-menu">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>
       <header class="site-navbar py-3" role="banner">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-11 col-xl-2">
                        <h1 class="mb-0"><a href="admin.html" class="text-white h2 mb-0">Bui<span class="text-primary">Bui</span> </a></h1>
                    </div>
                    <div class="col-12 col-md-10 d-none d-xl-block">
                        <nav class="site-navigation position-relative text-right" role="navigation">
                            <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
                                <li class="active"><a href="{{ url_for('admindashboard') }}">Admin Dashboard</a></li>
                                <li><a href="{{ url_for('adminprofile') }}">Your Profile</a></li>
                                <li><a href="{{ url_for('addusers') }}">Add Users</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>
                </div>
            </div>
    </div>
    </header>


    <div class="site-section site-hero inner">
        <div class="container">
            <div class="row align-items-center">

                    <span class="d-block mb-3 caption aos-init aos-animate" data-aos="fade-up" data-aos-delay="100"></span>


          <div style="height:auto;border:2px solid #ff5733; width: 100%;
  overflow-x: auto;padding: 30px;display: block;text-align: center!important;">
                            <h2>CURRENT DEVELOPERS:</h2>
  <table style="clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    border-collapse: separate !important;border: 1px solid #f4f4f4; box-sizing: border-box;text-indent: initial;background-color: transparent;
}">
  <thead style="display: table-header-group;
    vertical-align: middle;
    border-color: inherit;border-collapse: separate !important;text-indent: initial;">
    <tr>
       <th style="color: #ff5733; width:auto; border-top: 0;border-left-width: 0;border-bottom-width: 2px;padding: 8px;text-align: left;border-collapse: separate !important;    text-indent: initial; border: 1px solid #f4f4f4;">Developer ID</th>
      <th style="color: #ff5733; border-top: 0;border-left-width: 0;border-bottom-width: 2px;padding: 8px;text-align: left;border-collapse: separate !important;    text-indent: initial; border: 1px solid #f4f4f4;">First Name</th>
       <th style="color: #ff5733; border-top: 0;border-left-width: 0;border-bottom-width: 2px;padding: 8px;text-align: left;border-collapse: separate !important;    text-indent: initial; border: 1px solid #f4f4f4;">Last Name</th>
       <th style="color: #ff5733; border-top: 0;border-left-width: 0;border-bottom-width: 2px;padding: 8px;text-align: left;border-collapse: separate !important;    text-indent: initial; border: 1px solid #f4f4f4;">Address</th>
       <th style="color: #ff5733; border-top: 0;border-left-width: 0;border-bottom-width: 2px;padding: 8px;text-align: left;border-collapse: separate !important;    text-indent: initial; border: 1px solid #f4f4f4;">Email</th>
        <th style="color: #ff5733; border-top: 0;border-left-width: 0;border-bottom-width: 2px;padding: 8px;text-align: left;border-collapse: separate !important;    text-indent: initial; border: 1px solid #f4f4f4;">Phone No.</th>
         <th style="color: #ff5733; border-top: 0;border-left-width: 0;border-bottom-width: 2px;padding: 8px;text-align: left;border-collapse: separate !important;    text-indent: initial; border: 1px solid #f4f4f4;">Projects</th>
        <th style="color: #ff5733; border-top: 0;border-left-width: 0;border-bottom-width: 2px;padding: 8px;text-align: left;border-collapse: separate !important;    text-indent: initial; border: 1px solid #f4f4f4;">Assign To Project</th>
        <th style="color: #ff5733; border-top: 0;border-left-width: 0;border-bottom-width: 2px;padding: 8px;text-align: left;border-collapse: separate !important;    text-indent: initial; border: 1px solid #f4f4f4;">Remove From Project</th>
        <th style="color: red; border-top: 0;border-left-width: 0;border-bottom-width: 2px;padding: 8px;text-align: left;border-collapse: separate !important;    text-indent: initial; border: 1px solid #f4f4f4;color:red;">PERMANENTLY REMOVE USER</th>

    </tr>
  </thead>
   <tbody style="box-sizing: border-box;text-indent: initial;border-collapse: separate !important;">
    {% for developer in developers %}
    <tr>
      <td style="border-bottom-width: 0;border-left-width: 0;border: 1px solid #f4f4f4;padding: 8px;line-height: 1.42857143;vertical-align: top;display: table-cell;
    border-collapse: separate !important;text-indent: initial;">{{ developer [0] }}</td>
      <td style="border-bottom-width: 0;border-left-width: 0;border: 1px solid #f4f4f4;padding: 8px;line-height: 1.42857143;vertical-align: top;display: table-cell;
    border-collapse: separate !important;text-indent: initial;">{{ developer [1] }}</td>
      <td style="border-bottom-width: 0;border-left-width: 0;border: 1px solid #f4f4f4;padding: 8px;line-height: 1.42857143;vertical-align: top;display: table-cell;
    border-collapse: separate !important;text-indent: initial;">{{ developer [2] }}</td>
      <td style="border-bottom-width: 0;border-left-width: 0;border: 1px solid #f4f4f4;padding: 8px;line-height: 1.42857143;vertical-align: top;display: table-cell;
    border-collapse: separate !important;text-indent: initial;">{{ developer [4]}}</td>
      <td style="border-bottom-width: 0;border-left-width: 0;border: 1px solid #f4f4f4;padding: 8px;line-height: 1.42857143;vertical-align: top;display: table-cell;
    border-collapse: separate !important;text-indent: initial;">{{ developer [5]}}</td>
         <td style="border-bottom-width: 0;border-left-width: 0;border: 1px solid #f4f4f4;padding: 8px;line-height: 1.42857143;vertical-align: top;display: table-cell;
    border-collapse: separate !important;text-indent: initial;">{{ developer [7]}}</td>
      <td style="border-bottom-width: 0;border-left-width: 0;border: 1px solid #f4f4f4;padding: 8px;line-height: 1.42857143;vertical-align: top;display: table-cell;
    border-collapse: separate !important;text-indent: initial;">
            {% for project_title in projects_dict[developer[0]] %}
      {{ project_title }}{% if not loop.last %}, {% endif %}
    {% endfor %}
      </td>


<td style="border-bottom-width: 0;border-left-width: 0;border: 1px solid #f4f4f4;padding: 8px;line-height: 1.42857143;vertical-align: top;display: table-cell;
    border-collapse: separate !important;text-indent: initial;">

             <form action="{{ url_for('assign_developer', dev_id=developer[0]) }}" method="POST">
                 <select name="project_id">
                     {% for project in projects %}
                   <option value="{{ project[0] }}">{{ project[1] }}
                   </option>
                     {% endfor %}
                 </select>
                 <button type="submit">Assign to Project</button>
             </form>

</td>

      <td style="border-bottom-width: 0;border-left-width: 0;border: 1px solid #f4f4f4;padding: 8px;line-height: 1.42857143;vertical-align: top;display: table-cell;
    border-collapse: separate !important;text-indent: initial;">

             <form action="{{ url_for('remove_developer_from_project', dev_id=developer[0]) }}" method="POST">
                 <select name="project_id">
                     {% for project in projects %}
                   <option value="{{ project[0] }}">{{ project[1] }}
                   </option>
                     {% endfor %}
                 </select>
                 <button type="submit" style="color:red">Remove from Project</button>
             </form>

        <td style="border-bottom-width: 0;border-left-width: 0;border: 1px solid #f4f4f4;padding: 8px;line-height: 1.42857143;vertical-align: top;display: table-cell;
    border-collapse: separate !important;text-indent: initial;">
        <form action="{{ url_for('remove_developer', dev_id=developer[0]) }}" method="POST">
    <button type="submit" class="btn btn-danger" style="background-color:red">Remove</button>
      </form>

      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
                            <div class="row align-items-center">

                            </div>
                            <div>
                            </div>
                        </div><br><br><br>







</div>
    </div>
            </div>
        </div>
    </div>


        <script src="{{ url_for('static', filename='main.js') }}"></script>
     <script src="{{ url_for('static', filename='jquery.magnific-popup.min.js') }}"></script>
     <script src="{{ url_for('static', filename='jquery.countdown.min.js') }}"></script>
     <script src="{{ url_for('static', filename='jquery.stellar.min.js') }}"></script>
     <script src="{{ url_for('static', filename='owl.carousel.min.js') }}"></script>
     <script src="{{ url_for('static', filename='popper.min.js') }}"></script>
     <script src="{{ url_for('static', filename='jquery-ui.js') }}"></script>
     <script src="{{ url_for('static', filename='jquery-migrate-3.0.1.min.js') }}"></script>
     <script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='aos.js') }}"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>
    <script defer src="https://static.cloudflareinsights.com/beacon.min.js/vaafb692b2aea4879b33c060e79fe94621666317369993" integrity="sha512-0ahDYl866UMhKuYcW078ScMalXqtFJggm7TmlUtp0UlD4eQk0Ixfnm5ykXKvGJNFjLMoortdseTfsRT8oCfgGA==" data-cf-beacon='{"rayId":"79b5006c5d1e9cac","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2023.2.0","si":100}'
        crossorigin="anonymous"></script>
</body>

</html>